
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Api</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>SeaWar server API</h2>
        <p>Стучать сюда: http://0temka4.somee.com/api/  + см. ниже. Кругом передаем Json. Пример:
         http://0temka4.somee.com/api/account/register  стучим методом POST, кругом ContentType = "application/json",
         в теле передаем так {"Name":"Тут имя", "Password":"Тут пароль"}. Возвращает в response UserId. Описание разворачивается.
        Пример нумбер ту:  http://0temka4.somee.com/api/account/getuser/bcc64ccf-8b9c-4f05-9bfa-666c034d6bd7  метод GET,
        в теле ничего не передаем, в конце урла дописываем Id юзера, приходит Json с его инфой</p>
        <div class="form-horizontal"><p>Source code you can get </p><a href="https://github.com/FilippovAlexey/SeaWar">here</a><p>.</p></div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">POST account/register  string(string Name, string Password)  ERRORS: NotEmpty</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                       Косая-кривая регистрация, ничего необычного.
                        NotEmpty при отправке пустых строк.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">GET account/getuser/{userId} User()</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        Даешь Id, получаешь почти всю инфу о юзере, изи=)
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">POST account/setrole string(SetRoleDTO) ERRORS: UserNotFound, NotPos, RoleMissing</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        У юзера есть роли, и иму нужно ее выбрать вначале, пока реализовано только без роли(0)и пират(1).Вернет результат(либо ошибку либо Success).
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">POST account/login string(string Name, string Password) ERRORS: BadData</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        Авториация. Возвращает Id пользователя.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">POST session/create BattleSession(SessionCreateDTO) ERRORS: UserNotFound</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        Создание сесии для боя, возвращает объект-сессию.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">GET session/list BattleSession[]()</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        Возвращает список игровых сессий.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">POST session/join BattleSession(SessionJoinDTO) ERRORS: SessionNotFound, UserNotFound</a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                       Присоединение к сессии.Передаем Id сессии и Id текущего игрока.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">GET session/info/{sessionId} BattleSession() ERRORS: SessionNotFound</a>
                    </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                        Возвращает ид сессии и ид подключившегося игрока...ну или его отсутствие а также состояние сессии.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">GET session/gettimeleft/{sessionId} double() ERRORS: SessionNotFound</a>
                    </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body">
                        Возвращает время, оставшееся до конца хода.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">POST session/selectships ShipInBattle[](ShipListDTO) ERRORS: SessionNotFound, UserNotFound</a>
                    </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse">
                    <div class="panel-body">
                        Выбор кораблей. Возвращает список выбранных кораблей.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">POST session/endturn string(TurnDataDTO) ERRORS: SessionNotFound, UserNotFound</a>
                    </h4>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                    <div class="panel-body">
                        Завершение хода. Возвращает Success или ошибку. 
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">GET session/getbattledata/{sessionId} BattleSession() ERRORS: SessionNotFound</a>
                    </h4>
                </div>
                <div id="collapse12" class="panel-collapse collapse">
                    <div class="panel-body">
                        Возвращает всю инфу о сессии.Ну или ошибку.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">GET system/getstringmessages []()</a>
                    </h4>
                </div>
                <div id="collapse13" class="panel-collapse collapse">
                    <div class="panel-body">
                        Возвращает список всех сообщении, возвращаемых из сервера в виде [Key="", Value=""].
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
